@use '../../../styles/config/colors';
@use '../../../styles/config/fonts';

.payment-successful {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 8.5rem 0 0;
    flex: 1;

    h1 {
        font-family: fonts.$body-font;
        font-weight: 600;
        font-size: 4.2rem;
        line-height: 100%;
        color: colors.$black-color;
        text-align: center;
        margin: 0 0 0.8rem;
        margin-top: 20rem;
    }

    h2 {
        font-family: fonts.$body-font;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 150%;
        color: colors.$dark-text-color;
        text-align: center;
        margin: 0 0 5.6rem;
    }

    .fallback-wrapper {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        .successful-msg {
            padding: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            font-family: fonts.$body-font;
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 2.6rem;
            color: #333839;

            img {
                width: 5rem;
            }
        }
    }

    .payment-successful-fallback {
        padding: 4.5rem 0 10rem;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        background: linear-gradient(
            97.98deg,
            rgba(255, 255, 255, 0.712) 51.72%,
            rgba(255, 255, 255, 0.656) 77.75%
        );
        border: 1px solid rgba(56, 90, 201, 0.8);
        border-radius: 16px;

        p {
            margin: 4.5rem 0;
            color: #333839;
            font-family: fonts.$body-font;
            font-weight: 400;
            font-size: 2.4rem;
            text-align: center;
        }

        .session-counter {
            flex: none;
        }
    }

    .demo-wrapper {
        background: #ced9f9;
        border-radius: 100rem;
        margin-bottom: 4.2rem;
        overflow: hidden;
        display: flex;
        height: 50rem;
        flex-direction: column;
        width: 50rem;
        justify-content: flex-end;

        img {
            display: flex;
            flex: 1;
            min-width: 140%;
            object-fit: contain;
        }
    }
}
