@use "../../../styles/config/colors";

.welcome {
    background: colors.$brand-primary-color url("../assets/images/welcomeBackground.svg") no-repeat center top;
    background-size: cover;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
