@use 'sass:color';

// =============================================================================
// BRAND COLORS
// =============================================================================

/* Blue/Main */
$brand-primary-color: #385ac9;
$white-color: #ffffff;
$black-color: #000000;
$dark-grey: #333839;
$dark-blue: #22467f;
$light-black: #292d32;

$main-background-color: #e6ecff;

$badges-color: #a047ff;

$dark-text-color: #0f2043;
$label-text-color: #292d3299;
$value-text-color: #292d32;
$hover-blue-color: #d6dffa;

$border-color: #292d3214;
$input-border-color: #d6d6d6;
