@use '../../../styles/config/colors' as colors;
@use '../../../styles/config/media-queries';

.voucher-confirmation {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex: 1;
    max-width: 90%;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    max-height: 100%;
    box-sizing: border-box;

    h1 {
        text-align: center;
        font-size: 4.2rem;
    }

    .invoice-content {
        background: colors.$white-color;
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem;
        border-radius: 1.2rem;
        width: 90%;
        display: flex;
        gap: 2rem;
    }

    .primary-button {
        width: 90%;
        margin-top: 4rem;
    }

    .action-wrapper {
        width: 100%;
        flex-direction: column;
        padding: 0 3rem;
        margin: 4rem auto 10rem;
        justify-self: flex-end;
        display: flex;
        justify-content: end;
        align-items: center;
        flex: 1;
        gap: 5rem;

        .session-counter {
            flex: none;
        }
    }
 .instruction {
     color: colors.$dark-text-color;
     width: 80%;
     text-align: center;
     font-weight: 600;
     font-size: 2.4rem;
     line-height: 150%;
     margin: 3rem auto 2rem;
 }
}

@include media-queries.media('<=desktop') {
    .voucher-confirmation {
        h1 {
            font-size: 3.6rem;
        }
    }
}
