@use '../../../styles/config/colors';

.wire-button {
    padding: 1.6rem 4rem;

    border: 2px solid colors.$brand-primary-color;
    border-radius: 0.8rem;

    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: center;
    letter-spacing: 0.01em;

    color: colors.$brand-primary-color;

    &:hover, &:active {
        color: colors.$white-color;
        background: colors.$brand-primary-color;
    }

    &:disabled {
        cursor: default;
        border-color: #ccc;
        color: #ccc;
        background: transparent;
    }
}
