@use '../../../styles/config/colors';

.session-timeout-modal {
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        flex: 1;
        justify-content: space-evenly;
        margin: auto 7vw;
        background: colors.$white-color;
        border-radius: 12px;
        width: 82vw;
        padding: 10rem 4rem 4rem;

        .primary-button {
          width: 100%;
        }

        p {
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 3.8rem;
            text-align: center;
            color: #25292A;
            margin: 2.8rem 0 18.7rem;
        }
    }
}
