@use '../../../styles/config/fonts';

.service-dark {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

    padding: 0;
    border: 4px solid rgba(255, 255, 255, 0.45);
    border-radius: 1.6rem;
    width: 100vw;
    max-width: 100%;
    margin-bottom: 3.5rem;
    position: relative;
    background: transparent;
    padding-bottom: 2.5rem;

    &.betting {
        background-image:
            url('../assets/images/welcome/betting.png'),
            linear-gradient(97.1deg, rgba(3, 58, 46, 0.50) 3.06%, rgba(14, 124, 98, 1.0) 99.54%);
        border: 4px solid rgba(255, 255, 255, 0.45);
        border-radius: 18px;
    }

    &.gaming {
        background-image:
            url('../assets/images/welcome/gaming.png'),
            linear-gradient(97.1deg, rgba(142, 45, 226, 1.0) 3.06%, rgba(74, 0, 224, 1.0) 99.54%);
        border: 4px solid rgba(255, 255, 255, 0.45);
        border-radius: 18px;
    }

    &.ips {
        background-image: url('../assets/images/welcome/ips.png');
    }

    &.selected {
        background-color: rgba(255, 255, 255, 0.1);
        border-color: #36c6ff;
    }

    .coming-soon-large {
        position: absolute;
        top: -1px;
        right: 0;
        width: 18.5rem;
        height: auto;
    }

    .checkbox-selected {
        width: 10rem;
        height: 10rem;
        position: absolute;
        right: 1.8rem;
        top: 1.8rem;
    }

    .age-disclaimer {
        left: 0;
        top: 0;
        transform: translate(-50%, -50%);
        position: absolute;
        border: 3px solid red;
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
    }
    h3 {
        font-size: 4.7rem;
        font-weight: 800;
        font-family: fonts.$font-urbanist;
        margin: 4.5rem 0 1rem 7rem;
        text-align: left;
        color: #fff;
        position: relative;

    }

    p {
        font-family: fonts.$font-urbanist;
        margin: 0 0 3.5rem 7rem;
        text-align: left;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 180%;
    }

    .services-grid {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        gap: 2rem;
        padding: 0 2rem;
        margin-bottom: 2rem;
    }

    .grid-item {
        position: relative;
        border: 1px solid transparent;
        border-radius: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26.6rem;
        height: 15rem;

        img {
            width:100%;
            height:100%;
            object-fit:contain;
        }
        
        &.coming-soon {
            position: relative;
            img {
                opacity: 0.7;
            }

            .coming-soon-banner {
                position: absolute;
                top: 0;
                right: 0;
                width: 7.2rem;
                opacity: 1;
                z-index: 2;
            }
        }

        .coming-soon {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .action-container {
        padding: 0rem 0 0 0;
        height: 8.9rem;
    }
    .action {
        background: #ffffff88;
        border-radius: 1.6rem;
        color:black;
        padding: 2.2rem 3.2rem;
        margin: 0 7rem;
        text-transform: uppercase;
        font-family: Urbanist;
        font-weight: 700;
        font-style: Bold;
        font-size: 3.5rem;

        &.selected {
            opacity: 1;
            color:white;
            &.betting {
                background: #0AAD59;
            }
            &.gaming {
                background: #A040FD;
            }
        }
    }
}
