@use "../../../styles/config/colors";
@use "../../../styles/config/fonts";

.primary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 13.5rem;
  gap: 10px;
  background: colors.$brand-primary-color;
  border-radius: 0.86rem;
  font-family: fonts.$body-font;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 1.8rem;
  text-align: center;
  color: colors.$white-color;
  text-transform: uppercase;
  letter-spacing: 1%;

  &.inverted {
    background: colors.$white-color;
    color: colors.$brand-primary-color;
  }

  &:hover, &:active {
    background: colors.$hover-blue-color;
    color: colors.$brand-primary-color;
  }

  &:disabled {
        cursor: default;
        color: #999;
        background: #ccc;
    }
}
