@use '../../../styles/config/colors';
@use '../../../styles/config/fonts';

.session-counter {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 5.2rem;

    .time-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        p {
            color: #25292a;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            margin: 1rem 0;

            span {
                color: #c63d46;
            }
        }

        .wire-button {
            padding: 1.6rem 3.2rem;
            font-size: 18px;
            font-weight: 500;
        }
    }
}
