@use "../../../styles/config/colors";

.home {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    padding-top: 6rem;
    gap: 2rem;
    max-width: 80vw;
    margin: auto;

    & > div {
        z-index: 999;
    }
}

.home-container {
    background: colors.$main-background-color url("../assets/images/homeBackground.png") no-repeat top center;
    background-size: cover;
}
