@use '../../../styles/config/colors';

.how-to-use {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 3rem;
    gap: 0.8rem;
    width: 100%;
    background: #f3f6ff;
    border-radius: 1.2rem;

    p {
        font-size: 2rem;
        line-height: 1.5;
        color: colors.$dark-text-color;
        flex: none;
        font-weight: 500;

        &.how-to-title {
            font-weight: 500;
            font-size: 2.4rem;
            color: colors.$dark-text-color;
            padding: 1rem 0;
        }
    }

    ol {
        margin: 0;
        padding: 0 0 0 1.5rem;
        li {
            padding: 0 0 0.8rem;
            p {
                padding: 0;
            }
        }
    }
}
