@use '../../../styles/config/colors';
@use '../../../styles/config/mixins';

.horizontal-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    border-radius: 1rem;
    @include mixins.item-shadow;
    background-color: colors.$white-color;
    gap: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        background-color: colors.$hover-blue-color;
    }

    p {
        font-size: 1.8rem;
        line-height: 1.3;
        display: inline-block;
        color: colors.$dark-text-color;
        margin: 0;
        padding: 0;
        text-align: left;
        align-self: flex-start;

        &.title {
            font-weight: 600;
            font-size: 2.8rem;
            line-height: 1.3;
            display: flex;
            color: colors.$brand-primary-color;
            text-align: left;
        }
    }

    .item-icon {
        position: absolute;
        top: 20%;
        right: 7%;
        max-height: 100%;
    }

    &.coming-soon {
        @include mixins.coming-soon;
    }

    &.coming-soon {
        @include mixins.coming-soon;

        .title {
            color: #444;

            span {
                position: absolute;
                top: 3rem;
                left: 3rem;
                text-align: left;
                min-width: 100%;
            }
        }
    }

    &.loading-container {
        background: #0F20432B;
        box-shadow: none;
        min-width: 80vw;
        display: flex;
        animation: pulse-opacity 2s infinite alternate;
    }
}

@keyframes pulse-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
