@use "../../../styles/config/colors";
@use "../../../styles/config/fonts";
@use "../../../styles/config/media-queries";

.payment-method-terminal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.5rem 0 2.4rem;
  background: colors.$main-background-color url("../assets/images/paymentMethodBackground.png") no-repeat right bottom;

  .payment-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.2rem;
    width: 100%;
    padding-bottom: 26.4rem;

  }

  h1 {
    font-family: fonts.$body-font;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 100%;
    color: colors.$black-color;
    text-align: center;
    margin: 0 0 0.8rem;
  }

  h2 {
    font-family: fonts.$body-font;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 150%;
    color: colors.$dark-text-color;
    text-align: center;
    margin: 0 0 5.6rem;
  }
}

@include media-queries.media('<=desktop') {
  .payment-method-terminal {
    padding: 10rem 5rem;
    flex: 1;
    height: 100%;
    justify-content: center;

    .payment-methods {
      width: 90%;

      .payment-card {
        background-size: 70%;
        background-position: right top;;

        .card-text {
          font-size: 3.3rem;
        }

        .card-image {
            max-width: 50%;
        }
      }
    }

    h1 {
      font-size: 3.6rem;
    }

    h2 {
      font-size: 2rem;
    }
  }
}