@use '../../components/templates/paymentMethodTerminal/paymentMethodTerminalTemplate';
@use '../../components/templates/insertCash/insertCashTemplate';
@use '../../components/templates/paymentSuccessful/paymentSuccessfulTemplate';
@use '../../components/templates/ageDisclaimer/ageDisclaimerTemplate';
@use '../../components/templates/voucherConfirmation/voucherConfirmationTemplate';
@use '../../components/templates/emailInputTemplate/emailInputTemplate';
@use '../../components/templates/register/registerTemplate';
@use '../../components/templates/welcome/welcomeTemplate';
@use '../../components//templates/welcomeWithServicesTemplate/welcomeWithServicesTemplate';
@use '../../components/templates/underMaintenance/underMaintenanceTemplate';
@use '../../components/templates/services/serviceTemplate';
@use '../../components/templates/gamingVoucher/gamingVoucherTemplate';
@use '../../components/templates/bettingVouchers/bettingVouchersTemplate';
@use '../../components/templates/voucherDataError/_voucherErrorTemplate';
@use '../../components/templates/ipsPayment/ipsPaymentTemplate';

