.welcome-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;

    .welcome-screen-button-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        align-items: center;

        .welcome-screen-button-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }
    }
}