.welcome-screen {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20rem 0 0;

    .welcome-screen-button-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        margin: 26rem 0 7.7rem;

        .welcome-screen-button-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }
    }
}