@use "../../../styles/config/colors";
@use "../../../styles/config/fonts";
@use "../../../styles/config/mixins";

.payment-card {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  background-color: #fff; 
  background-image:  url('../assets/images/paymentCardBackground.svg');
  background-repeat: no-repeat;
  background-position: right;
  border: 0;
  border-radius: 12px;
  box-shadow: -3px 4px 14.4px 0px #0F20432B;
  flex-direction: row;
  gap: 24px;
  padding: 0 0 0 42px;
  max-width: 739px;
  width: 100%;
  overflow: hidden;

  .card-text {
    flex: 1;
    z-index: 1;
    text-align: left;
    font-family: fonts.$body-font;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 150%;
    letter-spacing: -1.5px;
    color: colors.$dark-text-color;
    padding: 0 0 42px;
  }

  .card-image {
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
    width: 380px;
    height: 300px;
    justify-content: flex-end;

    img {
      height: auto;
      object-fit: contain;
      max-width: 100%;
      max-height: 95%;
    }

    &:last-child {
      img {
        max-height: 90%;
      }
    }
  }

  &:hover, &:active {
    background-color: colors.$hover-blue-color;
    box-shadow: -3px 4px 14.4px 0 #0F20432B;

    .card-text:default {
      color: colors.$brand-primary-color;
    }
  }

  &:active {
    box-shadow: 4px 4px 14.4px 0 inset rgba(15, 32, 67, 0.075);
  }

  &.coming-soon {
    position: relative;
    cursor: default;

    &:hover, &:active {
      background-color: colors.$white-color;
      box-shadow: -3px 4px 14.4px 0 #0F20432B;

      .card-text:default {
        color: colors.$brand-primary-color;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 22rem;
      height: 15rem;
      background: url('../assets/icons/coming-soon.svg') no-repeat center center;
      background-size: 100% auto;
      z-index: 2;
      
    }
  }
}