@use '../../../styles/config/colors';
@use '../../../styles/config/fonts';

.accepted-bills {
    margin: 4.5rem 0; 
    padding: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    background-color: colors.$white-color;
    border-radius: 1.6rem;
    max-width: 100%;
    width: 83rem;
    

    h2 {
      font-family: fonts.$body-font;
      margin: 0 0 4rem;
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 2.6rem;
      color: #333839;
    }

    .bills {
      display: flex;
      flex: 1;
      flex-direction: row;
      gap: 0rem;
      margin-bottom: 2rem;
      
      img {
        margin-left: -3rem;
        margin-right: -3rem;
      }
    }

    .info-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 2rem 0 0;
      padding: 2rem 0;
      color: colors.$dark-grey;
      font-family: fonts.$body-font;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 2.6rem;

      img {
        display: inline-block;
        width: 4.4rem;
        height: 4.4rem;
        margin: 0 1.5rem 0 0;
        vertical-align: middle;
      }
    }
}