@use '../../../styles/config/colors';

.screen-saver-content {
    background: colors.$brand-primary-color url('../../../assets/images/screen-saver-background.png') no-repeat center center;
    background-color: colors.$brand-primary-color;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex: 1;
    transition: all 0.5s ease-in-out;

    .home-cards-container {
        margin-top: -6rem;
        z-index: 1;
    }

    .switch-screen-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45%;

        &.full-screen-btn {
            height: 100%;
        }
    }

    .home-screen-title {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 50%;
        gap: 1rem;
        padding: 2rem 10%;
        text-align: center;

        h1 {
            font-size: 6rem;
            font-weight: bold;
            color: colors.$white-color;
            margin: 0;
        }

        p {
            font-size: 2.8rem;
            color: colors.$white-color;
            font-weight: 500;
            line-height: 1.3;
            margin: 0;
            margin-bottom: 10rem;
        }
    }
    .vcash-logo {
        width: 18rem;
        margin: 5rem 0;
        object-fit: contain;
    }
    .tickets-container {
        margin-top: 180px;
    }
}

.full-size {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    transition: all 0.5s ease-in-out;

    .home-cards {
        transition: all 0.5s ease-in-out;
    }
}
