@use '../../../styles/config/colors';
@use '../../../styles/config/mixins';

.home-item {
    background: colors.$white-color;
    align-self: flex-start;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 100vw;
    padding-bottom: 3rem;
    box-sizing: border-box;
    justify-self: flex-start;
    @include mixins.item-shadow;
    height: 40rem;

    .text-content {
        padding: 3rem 3rem 1.5rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;

        p {
            font-size: 2rem;
            line-height: 1.3;
            display: inline-block;
            color: colors.$dark-text-color;
            margin: 0;
            padding: 0;
            text-align: center;
            align-self: center;

            &.title {
                font-weight: 600;
                font-size: 3rem;
                line-height: 1.3;
                display: flex;
                color: colors.$brand-primary-color;
            }
        }
    }

    &.coming-soon {
        @include mixins.coming-soon;

        .text-content {
            .title {
                color: #444;

                span {
                    position: absolute;
                    top: 3rem;
                    left: 0;
                    text-align: center;
                    min-width: 100%;
                }
            }
        }

        &:hover {
            cursor: default;
        }
    }

    .image-container {
        background-color: colors.$brand-primary-color;
        display: flex;
        align-items: center;
        overflow: hidden;
        max-height: 20rem;
        min-height: 20rem;
        justify-content: center;

        img {
            height: 100%;
            width: auto;
            max-width: 100%;
            flex: 1;
            object-fit: cover;
        }
    }

    &:hover {
        cursor: pointer;
        background: colors.$hover-blue-color;
    }

    &:active {
        @include mixins.item-active-shadow;
    }

    &.loading-container {
        background: #0F20432B;
        box-shadow: none;
        animation: pulse-opacity 2s infinite alternate;
    }
}

@keyframes pulse-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
