@use "../../../styles/config/colors";
@use "../../../styles/config/fonts";

.primary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 96px;
  gap: 10px;
  background: colors.$brand-primary-color;
  border-radius: 8px;
  font-family: fonts.$body-font;
  font-weight: 600;
  font-size: 2.8rem;
  text-align: center;
  text-transform: capitalize;
  color: colors.$white-color;
}
