@use '../../../styles/config/fonts';

.availableServicesVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;

    .marquee-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .marquee-content {
        display: flex;
        flex-direction: column;
        animation: scroll-up linear infinite;
        animation-duration: 20s; /* Adjust speed as needed */
    }

    @keyframes scroll-up {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-50%); /* Move up by exactly half the content height */
        }
    }

    .marquee-item {
        display: flex;
        gap: 2rem;
        border-radius: 1.6rem;
        padding: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;
        box-sizing: border-box;
        .main-info {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .service-name {
                font-size: 2.4rem;
                font-weight: 600;
            }
            .service-region {
                font-size: 2.4rem;
                font-weight: 400;
                color: #666666;
            }
        }
        .price-range {
            display: flex;
            flex: 1;
            gap: 2rem;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 1.6rem;
            background-color: #F0F0F2;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;

            align-items: center;
            .price-range-currency {
                font-size: 2.0rem;
                font-weight: 500;
            }
            .price-range-text {
                font-size: 3.0rem;
                font-weight: 600;
            }
        }

        img {
            width:82px;
            border-radius: 1.6rem;
            height: 92px;
            object-fit:cover;
        }
    }
}