@use '../../../styles/config/colors';
@use '../../../styles/config/fonts';
.gaming-voucher {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5rem;
    background: colors.$main-background-color url('../assets/images/background.png') center/cover;

    p {
        color: colors.$dark-text-color;
        font-size: 2.4rem;
    }
    .gaming-voucher__qr-box {
        display: flex;

        align-items: center;
        width: 96.4rem;
        height: 18.3rem;
        background: #fff;
        border: 1px solid #dddddd;
        border-radius: 1.1rem;
        box-sizing: border-box;
        padding: 5rem 5rem 5rem 3rem;
        margin: 4rem 0;
        font-family: 'Poppins', sans-serif;
    }

    .gaming-voucher__qr-image-wrapper {
        width: 11rem;
        height: 11rem;
        background: #fff;
        border-radius: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3.2rem;
        border: 1px solid #dddddd;
        padding: 1.5rem;
    }

    .gaming-voucher__qr-image-wrapper img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
    }

    .gaming-voucher__qr-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .gaming-voucher__qr-title {
        font-size: 2rem;
        font-weight: 600;
        color: #0f2043;
        margin-bottom: 1.2rem;
    }

    .gaming-voucher__qr-desc {
        font-size: 1.6rem;
        color: #292d32;
        font-weight: 400;
    }

    .gaming-voucher__cards-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3.2rem;
        margin-top: 4rem;
        justify-items: center;
    }

    @media (max-width: 900px) {
        .gaming-voucher__cards-grid {
            grid-template-columns: 1fr;
        }
    }
}

.gaming-voucher__primary-button {
    display: flex;
    justify-content: center;
    margin-top: 20rem;
    margin-bottom: 16rem;
}
