.print-voucher-fallback {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 7rem;
    gap: 7rem;
    justify-self: flex-end;
    flex: 1;

    .fallback {
        background: white;
        width: 80vw;
        padding: 4rem 3rem;
        border-radius: 1rem;
        display: flex;
        justify-self: flex-end;

        background: linear-gradient(
            97.98deg,
            rgba(255, 255, 255, 0.712) 51.72%,
            rgba(255, 255, 255, 0.656) 77.75%
        );
        border: 1px solid rgba(56, 90, 201, 0.8);
        border-radius: 16px;
        justify-content: space-between;

        p {
            color: black;
            font-size: 1.8rem;
            font-weight: 500;

            &:first-child {
                font-size: 2.4rem;
                font-weight: 600;
            }
        }
        .wire-button {
            font-size: 2rem;
            padding: 1rem 2rem;
        }
    }
}
