@use '../../../styles/config/colors';
@use '../../../styles/config/fonts';

.voucher-item {
    display: flex;
    border-radius: 1.6rem;
    overflow: hidden;
    box-shadow: 0rem 0.4rem 2.4rem 0rem rgba(31, 63, 168, 0.21);
    filter: blur(0);
    height: 23.4rem;
    flex: 1;
    margin-bottom: 2.5rem;

    &--bet {
        background: linear-gradient(90deg, #0f2550 0%, #01224d 100%);
    }

    &--gaming {
        background: #084594;
    }

    .voucher-item__text {
        flex: 0 0 45%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 7.5rem 0 3rem 3rem;
        position: relative;

        .age-disclaimer-voucher {
            position: absolute;
            width: 5.6rem;
            height: 5.6rem;
            top: 1.5rem;
            left: 3rem;
        }
    }

    .voucher-item__title {
        text-align: left;
        font-size: 4rem;
        font-weight: 700;
        margin: 0 0 1rem 0;
        color: colors.$white-color;
        font-family: fonts.$body-font;
    }

    .voucher-item__subtitle {
        text-align: left;
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
        color: colors.$white-color;
        font-family: fonts.$body-font;
    }

    .voucher-item__image-wrapper {
        flex: 0 0 55%;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;

        img {
            object-fit: cover;
        }
    }
}

.voucher-item:last-child {
    margin-bottom: 8rem;
}
