@use '../../../styles/config/colors';
@use '../../../styles/config/fonts';

.voucher-item {
    display: flex;
    border-radius: 1.6rem;
    overflow: hidden;
    box-shadow: 0rem 0.4rem 2.4rem 0rem rgba(31, 63, 168, 0.21);
    filter: blur(0);
    height: 23.4rem;
    flex: 1;
    margin-bottom: 2.5rem;

    &--bet {
        background: linear-gradient(90deg, #0f2550 0%, #01224d 100%);
    }

    &--gaming {
        background: #084594;
    }

    .voucher-item__text {
        flex: 0 0 45%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2.8rem 2.5rem;
    }

    .voucher-item__title {
        text-align: left;
        font-size: 3.6rem;
        font-weight: 600;
        margin: 0 0 0.8rem 0;
        color: colors.$white-color;
        font-family: fonts.$body-font;
    }

    .voucher-item__subtitle {
        text-align: left;
        font-size: 2rem;
        font-weight: 300;
        margin: 0;
        color: colors.$white-color;
        font-family: fonts.$body-font;
    }

    .voucher-item__image-wrapper {
        flex: 0 0 55%;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
    }
}

.voucher-item:last-child {
    margin-bottom: 8rem;
}
